<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Page
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/") Shop
                    li.main-header__item
                        a.(href="/admin/add-product") Add Product
        block content


//-  cr8 basic layout with two hooks, we can dynamically enter content into from inside our
//-  with adding block styles, we able to add mode styles from inside other files here
//-  adding block content