extends layouts/main-layout.pug

block content
    h1 Page Not Found!

//-  access hook from layouts/main-layout.pug with extends layouts/main-layout.pug
//-  adding new content with block content h1 Page Not Found!