extends layouts/main-layout.pug





//-  access hook from layouts/main-layout.pug with extends layouts/main-layout.pug

//- add iterate with looping for passing product = each product in prods

//- use product variable on product title = h1.product__title #{product.title}

//-  add conditional statement if product > 0  then run .grid structure & else show no product