<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
           <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>

<!-- cr8 Structure & add ejs expression on cart -->
<!-- Add main structure -->
<!-- s9-130: Add if statement structure -->
<!-- s9-130:Add render ul for loop all products -->