<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>Nothing there!</h1>
        </main>
        <%- include('../includes/end.ejs') %>

<!-- Cr8 orders.ejs view for displaying order-->
<!-- cr8 base struncture & ejs expression-->
<!-- Add main with h1 Nothing there! -->